django
djangorestframework
pip-tools
pytz
django-cors-headers
djangorestframework_simplejwt
django-filter
djoser
django-extensions
arrow
icecream
pytest
pytest-sugar
pytest-django
Faker
django-environ
drf-spectacular
ruff
black
isort
